 button{
    height: 30px;
    width: 100px;
    border-radius: 4px;
    background-color:white;
        
}
th, td {
    padding: 8px;
    text-align: left;
  }
  
 .loginNav{

     background-color:mediumblue;
     width: 40%;
     box-shadow: 10px 10px 5px grey;
     display: inline-block; 
     margin: 0 auto;
     padding: 3px;  
     
     
 }
#particles-js{
     height: 100%;
     width: 100%;
     text-align: center;     
     
 }
